/* 基本页面的样式 */
body, html {
    margin: 0;
    padding: 0;
}
.container {
    padding-top: 11vh;
}
body {
    background-size: 100vh;
    min-height: 92vh;
    background-repeat: no-repeat;
    background: linear-gradient(20deg, #014b52, #000000);
    background-attachment: fixed;
    text-align: center;
    color: antiquewhite;
    text-overflow: ellipsis;
    font-family: Arial, Helvetica, sans-serif;
    /* word-break: break-all; */
}
p {
    color: yellow;
}
p, p {
    padding: 0;
    margin: 0;
}

/* 主要部分的样式 */
.main {
    font-size: 2vh;
    margin-top: 7vh;
    margin-bottom: 9vh;
}
.info {
    text-align: left;
    position: fixed;
    top: 9vh;
    width: 100vi;
    font-size: 2vh;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.4);
}
.info p{
    color: antiquewhite;
}
.info p, p{
    padding: 2px;
}
/* 顶部栏的样式 */
.topbar {
    position: fixed;
    width: 100%;
    height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(1, 71, 66, 0.8);
    color: rgb(255, 255, 0);
    padding: 1vh;
}
.topbar div{
    font-size: 4vh;
    margin-right: 25px;
}
.topbar-title {
    font-size: 1.5vi;
    font-weight: bold;
}
.top-button {
    color: #ffffff;
    cursor: pointer;
}
.top-button:hover {
    color:#005c3f;
}

/* 侧边栏的样式 */
#ltitle {
    font-size: 2.3vh;
}
.sidebar {
    position: fixed;
    top: 8vh;
    width: 80vi;
    height: 94vh;

    margin-left: 20vi;
    background-color: rgb(0, 59, 79);
    color:rgb(195, 158, 110);
    display: none;
    padding: 1vi;
}
.sidebar tr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 76vi;
    height: 12vh;
    padding: 1vh;
}
.sidebar td {
    border-radius: 5px;
    margin: 2px;
    padding: 2px;
    width: 80vi;
    text-align: left;
    background-color: rgb(0, 56, 66);
    border: 1px solid aliceblue;
}
.sidebar td:hover {
    border: 2px solid white;
    background-color: #006554;
}
.sidebar p {
    font-size: 2vh;
    color: #8dd3c0;
    float: left;
    padding: 2px;
    overflow: hidden;
    text-overflow: clip;
}
.sidebar a {
    display: flex;
    align-items: left;
    flex-direction: column;
    height: 12vh;
}
.sidebar #ltitle {
    color: rgb(255, 255, 255);
    font-weight: bold;
}
.sidebar #ltitle {
    max-width: 18vi;
}

/* 底部栏的样式 */
.foot {
    background-color: transparent;
    padding-top: 2vh;
    position: fixed;
    bottom: 0vh;
    height: 8vh;
    width: 100%;
}
.butbar ul {
    background-color: rgba(1, 71, 66, 0.8);
    height: 8vh;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.butbar li {
    background-color: rgba(1, 51, 48, 0.8);
    font-size: 2vh;
    margin: 0 1px;
    padding: 10px 15px;
}
.butbar a {
    display: block;
    height: 8vh;
    width: 20vi;
    color: whitesmoke;
    text-decoration: none;
    text-align: center;
}
.butbar .active {
    background-color:#206347;
}