.intro {
    color: black;
    border-radius: 3vi;
    padding: 1vi;
    min-height: 10vh;
    background-color: rgba(35, 35, 35, 0.2);
    margin-left: 3vi;
    margin-top: 1vh;
    margin-right: 3vi;
    margin-bottom: 3vh;
    padding: 5px;
    text-align: left;
    border: 0.5px solid rgb(101, 181, 101);
}
.intro h2 {
    user-select: none;
    color: rgb(238, 255, 0);
    width: 100%;
    text-align: center;
    padding-bottom: 2.5vh;
    border-bottom: 1px solid rgb(128, 230, 128);
}

.intro-content {
    /* background-color: red; */

    min-height: 10vh;
    margin-bottom: 1vh;
    
}
.intro-content p {
    /* background-color: orange; */

    color: wheat;
    font-size: large;
    padding-left: 1vi;
    padding-right: 1vi;
    margin-bottom: 1vh;
}
.intro-content a {
    text-decoration: none;
    color: yellow;
}