body,html{
    height: 95%;
}
#pad{
  height: 20px;
}
body {
    background-color: black;
    /* background-image: url('a.jpg'); */
    background-image: url('https://images6.alphacoders.com/373/373654.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
  }
  
h1 {
    color: rgb(242, 242, 57);
    background-color: rgba(76, 12, 64, 0.5);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 48px;
  }
h2 {
    color: antiquewhite;
    background-color: rgba(76, 12, 64, 0.5);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
  }
h3{
  color: rgb(238, 241, 53);
  background-color: rgba(76, 12, 64, 0.5);
}
h4 {
  margin-bottom: 5px;
  color: aliceblue;
  background-color: rgba(76, 12, 64, 0.5);
}
dialog{
  width: 75% auto;
  height: 60%;
  background-color: rgb(9, 20, 91);
  font-size: large;
}
#bk {
  background-color: rgba(9, 20, 91, 0.549);
}
form {
  margin: 2px;
  font-size: 20px;
  color: aliceblue;
}
p {
    margin: 2px;
    color: antiquewhite;
    font-size: 20px;
  }
input,select {
  margin: 2px;
  color: rgba(9, 20, 91, 1);
  height: 20px;
  font-size: 20px;
}
form{
  background-color: rgba(25, 13, 36, 0.5);
}
table {
  padding-top:5%;
  padding-bottom: 5%;
    margin: 0 auto;
    background-color: rgba(25, 13, 36, 0.5);
    width: 100%;
    height: 60%;
    border-collapse: collapse;
}
td {
    margin: 0px;
    width: 230px;
    border: 1px solid black;
    padding: 2px;
  }
.text {
    word-wrap: break-word;
  }
li {
  color:antiquewhite;
  margin-top: 5px;
  font-size: 20px;
}

a {
    color: yellow;
    text-decoration: none;
}
ul  {
  list-style-type: none;
  /* list-style-position: outside; */
  background-color: rgba(25, 13, 36, 0.5);
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;
}
div{
  background-color: rgba(255, 115, 0, 0.2);
}
button{
  font-size:24px;
}