body, html {
    margin: 0;
    padding: 0;
}
.container {
    padding-top: 11vh;
}
body {
    background-size: 100vh;
    min-height: 92vh;
    background-repeat: no-repeat;
    background: linear-gradient(20deg, #235dd2, #84a3df);
    background-attachment: fixed;
    text-align: center;
    color: antiquewhite;
    text-overflow: ellipsis;
    /* word-break: break-all; */
}
p {
    color: yellow;
    font-size: 2vh;
}
p, p {
    padding: 0;
    margin: 0;
}

.topbar {
    position: fixed;
    width: 100%;
    height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(24, 10, 118, 0.8);
    color: yellow;
    padding: 1vh;
    font-size: x-large;
}
.topbar div{
    font-size: 4vh;
    margin-right: 25px;
}
.topbar-title {
    font-weight: bold;
}
.top-button {
    color: #fff;
    cursor: pointer;
}
.top-button:hover {
    color:#235dd2;
}

.main {
    font-size: 2vh;
    margin-top: 7vh;
}

.search {
    margin-top: 30vh;
    font-size: 3vh;
}
.search input[type="text"] {
    width: 80%;
    font-size: 4vh;
    height: 6vh;
    color: rgb(18, 0, 73);
    max-width: 800px;
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
.search input[type="submit"] {
    color:white;
    height: 6vh;
    background-color:transparent;
    border: none;
    font-size: 4vh;
}
.search input[type="submit"]:hover {
    color: yellowgreen;
}
label:hover {
    color: yellowgreen;
}

.info {
    text-align: left;
    position: fixed;
    top: 9vh;
    width: 100vi;
    padding: 5px;
}
.info p{
    color: antiquewhite;
}
.info p, p{
    padding: 2px;
}

.sidebar {
    position: fixed;
    top: 8vh;
    width: 80vi;
    height: 84vh;

    margin-left: 20vi;
    background-color: rgba(24, 10, 118, 0.8);
    color:darkblue;
    display: none;

    transition: transform 0.3s ease-in-out;
}
.sidebar .row {
    height: 19vh;
    margin: 1vh;
    background-color: transparent;
    display: flex;
    align-items: center;
}
.row div {
    height: 18vh;
    margin: 1vi;
    background-color: rgb(63, 63, 52);
    color: whitesmoke;
    align-items: center;
    text-align: center;
    border-radius: 8px;
}
.row .big {
    width: 50vi;
}
.row .small {
    width: 25vi;
}
.row a {
    padding-top: 7vh;
    padding-bottom: 6vh;
    display: block;
    font-size: 4vh;
    color:whitesmoke;
    text-decoration: none;
}
.row #google {
    background-color: rgb(200, 113, 0);
}
.row #bing {
    background-color: rgb(8, 123, 247);
}
.row #gpt {
    background-color: rgb(14, 156, 69);
}
.row #cg {
    background-color: rgb(87, 87, 87);
}
.row #lib {
    background-color: rgb(24, 95, 37);
}
.row #grade {
    background-color: rgb(0, 70, 200);
}
.row #score {
    background-color: rgb(112, 71, 16);
}
.row #open {
    background-color: rgb(0, 200, 63);
}

.foot {
    background-color: transparent;
    padding-top: 2vh;

    position: fixed;
    bottom: 0vh;
    height: 8vh;
    width: 100%;
}
.butbar ul {
    background-color: #235dd2;
    height: 8vh;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.butbar li {
    background-color: rgba(24, 10, 118, 0.8);
    font-size: 2vh;
    margin: 0 1px;
    padding: 10px 15px;
}
.butbar a {
    display: block;
    height: 8vh;
    width: 22vi;
    color: whitesmoke;
    text-decoration: none;
    text-align: center;
}
.butbar .active {
    background-color:#235dd2;
}