body, html {
    margin: 0;
    padding: 0;
}
.container {
    padding-top: 11vh;
}

body {
    background-size: 100vh;
    min-height: 92vh;
    background-repeat: no-repeat;
    background: linear-gradient(20deg, #014b52, #000000);
    background-attachment: fixed;
    text-align: center;
    color: antiquewhite;
    text-overflow: ellipsis;
    font-family: Arial, Helvetica, sans-serif;
    /* word-break: break-all; */
}
#navipage {
    background: #fff;
    background-color: black;
}
p {
    color: yellow;
}
p, p {
    padding: 0;
    margin: 0;
}

.topbar {
    position: fixed;
    width: 100%;
    height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(1, 71, 66, 0.8);
    color: rgb(255, 255, 0);
    padding: 1vh;
}
.topbar div{
    font-size: 4vh;
    margin-right: 25px;
}
.topbar-title {
    font-size: 1.5vi;
    font-weight: bold;
}
.top-button {
    color: #ffffff;
    cursor: pointer;
}
.top-button:hover {
    color:#005c3f;
}

.main {
    font-size: 2vh;
    margin-top: 7vh;
    margin-bottom: 9vh;
}
.search {
    margin-top: 30vh;
    font-size: 3vh;
}
.search input[type="text"] {
    border-radius: 1vh;
    width: 80%;
    font-size: 3.5vh;
    height: 6vh;
    color: rgb(17, 85, 45);
    max-width: 800px;
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
.search input[type="submit"] {
    color:white;
    height: 6vh;
    background-color: transparent;
    border: none;
    font-size: 4vh;
}
.search input[type="submit"]:hover {
    color: yellowgreen;
}
label:hover {
    color: yellowgreen;
}

.info {
    text-align: left;
    position: fixed;
    top: 9vh;
    width: 100vi;
    font-size: 2vh;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.4);
}
.info p{
    color: antiquewhite;
}
.info p, p{
    padding: 2px;
}

#ltitle {
    font-size: 2.3vh;
}
.sidebar {
    position: fixed;
    top: 8vh;
    width: 80vi;
    height: 94vh;

    margin-left: 20vi;
    background-color: rgb(0, 59, 79);
    color:rgb(195, 158, 110);
    display: none;
    padding: 1vi;
}
.sidebar tr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 76vi;
    height: 12vh;
    padding: 1vh;
}
.sidebar td {
    border-radius: 5px;
    margin: 2px;
    padding: 2px;
    width: 80vi;
    text-align: left;
    background-color: rgb(0, 56, 66);
    border: 1px solid aliceblue;
}
.sidebar td:hover {
    border: 2px solid white;
    background-color: #006554;
}
.sidebar p {
    font-size: 2vh;
    color: #8dd3c0;
    float: left;
    padding: 2px;
    overflow: hidden;
    text-overflow: clip;
}
.sidebar a {
    display: flex;
    align-items: left;
    flex-direction: column;
    height: 12vh;
}
.sidebar #ltitle {
    color: rgb(255, 255, 255);
    font-weight: bold;
}
.sidebar #ltitle {
    max-width: 18vi;
}


.log {
    margin-top: 1vi;
    max-width: 900px;
    align-items: center;
    background-color: rgba(14, 62, 74, 0.4);
}
#logm {
    width: 100%;
    align-items: center;
}
.log h3{
    font-size: 3vh;
    padding-left: 3vi;
    padding-right: 3vi;
    padding-bottom: 1vh;
    margin-bottom: 1vi;
    color: rgb(208, 255, 186);
    text-align: left;
    border-bottom: solid 1px snow;
}
.log ul {
    text-align: left;
    list-style-type: none;
    font-size: 2.5vh;
    padding-left: 3px;
}
.log li {
    padding: 2px;
    margin-left: 5px;
    text-align: left;
    margin-bottom: 0.5vh;
    font-size: 2.6vh;   
    border-bottom: dotted 0.5px darkgray;
    color: darkgrey;
}
.log0 a {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    width: 21vi;
    max-width: 150px;
    height: 2.8vh;
    font-size: 2.25vh;
    background-color: rgb(44, 56, 69);
    color: white;
    border-radius: 1vi;
    margin-right: 1.2vi;
    border: 1px solid #ffffff;
    overflow: hidden;
}
.log0 a:hover {
    background-color: rgb(51, 117, 125);
}
.log tr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 92vi;
    height: 12vh;
    padding: 1vh;
    max-width: 860px;
}
.log td {
    border-radius: 5px;
    margin: 2px;
    padding: 2px;
    width: 80vi;
    text-align: left;
    background-color: rgb(44, 56, 69);
    border: 1px solid aliceblue;
}
.log td:hover {
    border: 2px solid white;
    background-color: rgb(51, 117, 125);
}
.log p {
    font-size: 2vh;
    color: rgb(64, 205, 205);
    float: left;
    padding: 2px;
    overflow: hidden;
    text-overflow: clip;
}
.log #ltitle {
    font-weight: bold;
    font-size: 2.5vh;
}
.log #textdiv {
    font-size: 2.5vh;
    padding: 0.5vh;
    padding-left: 3vi;
    /* padding-right: 3vi; */
    text-align: left;
}
.blnav a {
    display: flex;
    align-items: left;
    flex-direction: column;
    height: 12vh;
}
.log #ltitle {
    color: white;
}

.foot {
    background-color: transparent;
    padding-top: 2vh;
    position: fixed;
    bottom: 0vh;
    height: 8vh;
    width: 100%;
}
.butbar ul {
    background-color: rgba(1, 71, 66, 0.8);
    height: 8vh;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.butbar li {
    background-color: rgba(1, 51, 48, 0.8);
    font-size: 2vh;
    margin: 0 1px;
    padding: 10px 15px;
}
.butbar a {
    display: block;
    height: 8vh;
    width: 20vi;
    color: whitesmoke;
    text-decoration: none;
    text-align: center;
}
.butbar .active {
    background-color:#206347;
}