body, html {
    margin: 0;
    padding: 0;
}
.container {
    padding-top: 11vh;
}
body {
    background-size: 100vh;
    min-height: 92vh;
    background-repeat: no-repeat;
    background: linear-gradient(20deg, #235dd2, #84a3df);
    background-attachment: fixed;
    text-align: center;
    color: antiquewhite;
    text-overflow: ellipsis;
    font-family: Arial, Helvetica, sans-serif;
    /* word-break: break-all; */
}
p {
    color: yellow;
    user-select: none;
}
p, p {
    padding: 0;
    margin: 0;
}

.topbar {
    position: fixed;
    width: 100%;
    height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(24, 10, 118, 0.8);
    color: yellow;
    padding: 1vh;
}
.topbar div{
    font-size: 4vh;
    margin-right: 25px;
}
.topbar-title {
    font-size: 3vh;
    font-weight: bold;
}
.top-button {
    color: #fff;
    cursor: pointer;
}
.top-button:hover {
    color:#235dd2;
}

.main {
    font-size: 2vh;
    margin-top: 7vh;
}

.search {
    margin-top: 30vh;
    font-size: 3vh;
}
.search input[type="text"] {
    border-radius: 1vh;
    width: 80%;
    font-size: 3.5vh;
    height: 6vh;
    color: rgb(93, 57, 199);
    max-width: 800px;
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
.search input[type="submit"] {
    color:white;
    height: 6vh;
    background-color:transparent;
    border: none;
    font-size: 4vh;
}
.search input[type="submit"]:hover {
    color: yellowgreen;
}
label:hover {
    color: yellowgreen;
}

.info {
    text-align: left;
    position: fixed;
    top: 9vh;
    width: 100vi;
    font-size: 2vh;
    padding: 5px;
}
.info p{
    color: antiquewhite;
}
.info p, p{
    padding: 2px;
}

#ltitle {
    font-size: 3vh;
}
.sidebar {
    position: fixed;
    top: 8vh;
    width: 80vi;
    height: 94vh;

    margin-left: 20vi;
    background-color: black;
    color:antiquewhite;
    display: none;
    padding: 1vi;
}
.sidebar tr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 76vi;
    height: 12vh;
    padding: 1vh;
}
.sidebar td {
    margin: 2px;
    padding: 2px;
    width: 80vi;
    text-align: left;
    background-color: rgb(40, 40, 40);
}
.sidebar p {
    font-size: 2vh;
    color: #8da3d3;
    float: left;
    padding: 2px;
    overflow: hidden;
}
.sidebar a {
    display: flex;
    align-items: left;
    flex-direction: column;
    height: 12vh;
}
.sidebar #ltitle {
    color: white;
}


.foot {
    background-color: transparent;
    padding-top: 2vh;
    position: fixed;
    bottom: 0vh;
    height: 8vh;
    width: 100%;
}
.butbar ul {
    background-color: #235dd2;
    height: 8vh;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.butbar li {
    background-color: rgba(24, 10, 118, 0.8);
    font-size: 2vh;
    margin: 0 1px;
    padding: 10px 15px;
}
.butbar a {
    display: block;
    height: 8vh;
    width: 20vi;
    color: whitesmoke;
    text-decoration: none;
    text-align: center;
}
.butbar .active {
    background-color:#235dd2;
}