/* 对话框形式的样式 */
/* 一些页面没有用到这一元素 */
.log {
    margin-top: 1vi;
    width: 95vi;
    max-width: 900px;
    display: inline-block;
    background-color: rgba(14, 62, 74, 0.4);
}
#logm {
    width: 96vi;
    align-items: center;
}
.log h3{
    font-size: 3vh;
    padding-left: 3vi;
    padding-right: 3vi;
    padding-bottom: 1vh;
    margin-bottom: 1vi;
    color: rgb(208, 255, 186);
    text-align: left;
    border-bottom: solid 1px snow;
}
.log ul {
    text-align: left;
    list-style-type: none;
    font-size: 2.5vh;
    padding-left: 3px;
}
.log li {
    padding: 2px;
    margin-left: 5px;
    text-align: left;
    margin-bottom: 0.5vh;
    font-size: 2.6vh;   
    border-bottom: dotted 0.5px darkgray;
    color: darkgrey;
}
.log0 a {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    width: 21vi;
    max-width: 150px;
    height: 2.8vh;
    font-size: 2.25vh;
    background-color: rgb(44, 56, 69);
    color: white;
    border-radius: 1vi;
    margin-right: 1.2vi;
    border: 1px solid #ffffff;
    overflow: hidden;
}
.log0 a:hover {
    background-color: rgb(51, 117, 125);
}
.log tr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 92vi;
    height: 12vh;
    padding: 1vh;
    max-width: 860px;
}
.log td {
    border-radius: 5px;
    margin: 2px;
    padding: 2px;
    width: 80vi;
    text-align: left;
    background-color: rgb(44, 56, 69);
    border: 1px solid aliceblue;
}
.log td:hover {
    border: 2px solid white;
    background-color: rgb(51, 117, 125);
}
.log p {
    font-size: 2vh;
    color: rgb(64, 205, 205);
    float: left;
    padding: 2px;
    overflow: hidden;
    text-overflow: clip;
}
.log #ltitle {
    font-weight: bold;
    font-size: 2.5vh;
}
.log #textdiv {
    font-size: 2.5vh;
    padding: 0.5vh;
    padding-left: 3vi;
    /* padding-right: 3vi; */
    text-align: left;
}
#textdiv a {
    color: white;
}
.blnav a {
    display: flex;
    align-items: left;
    flex-direction: column;
    height: 12vh;
}
.log #ltitle {
    color: white;
}