/* 搜索部分的样式 */
/* 许多页面没有用到这一样式，可以整合删除 */
.search {
    margin-top: 30vh;
    font-size: 3vh;
}
.search input[type="text"] {
    border-radius: 1vh;
    width: 80%;
    font-size: 3.5vh;
    height: 6vh;
    color: rgb(17, 85, 45);
    max-width: 800px;
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
.search input[type="submit"] {
    color:white;
    height: 6vh;
    background-color: transparent;
    border: none;
    font-size: 4vh;
}
.search input[type="submit"]:hover {
    color: yellowgreen;
}
label:hover {
    color: yellowgreen;
}


