body, html {
    margin: 0;
    padding: 0;
}
table, td {
    text-align: center;
}
table {
    border: solid 1px black;
}
ul {
    padding: 0;
}
p {
    text-indent: 2em;
}

/* 顶部栏的样式 */
.header {
    background-color: #526c25;
    width: 100vi;
    height: 15vh;
}
.container {
    display: flex;
    width: 100vi;
}

/* 左边栏的样式 */
.left-bar {
    width: 15vi; 
    text-align: center;
    align-items: center;
}
.left-bar h3 {
    color: rgb(50,50,50);
    background-image:url(http://cseban.whu.edu.cn/csbenke/ebanbenke/ebanbenke_images/menutitle.jpg); 
    background-repeat: no-repeat;
}
.left-bar ul {
    margin-bottom: 2px;
    padding-bottom: 15px;
    background-color: antiquewhite;
    max-width: 200px;
}
.left-bar li {
    margin-bottom: 5px;
}
.left-bar ul {
    list-style-type: none;
}
.left-bar ul a {
    text-decoration: none;
    color: black;
}
.left-bar ul a:hover {
    color: blue;
    text-decoration: underline;
}

/* 主体的样式 */
.main {
    padding-left: 5vi;
    padding-right: 5vi;
    width: 85vi;
    min-height: 85vh;
    align-items: center;
    /* background-color: blue; */
}
.main form {
    align-items: center;
    align-self: center;
    text-align: center;
}
.main table {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}